<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div th:fragment="table">
			
			<style>
				.dataTables_wrapper .bottom {
					display: flow-root;
				}
				
			</style>
			
			<table th:fragment="table" id="tileExportTableId"
				   class="table table-striped table-bordered table-hover dataTable"
				   dt:table="true"
				   th:attr="'dt:url'=@{/admin/map/tile-export/list/data}"
				   dt:serverside="true"
				   dt:reloadSelector="#search-button"
				   dt:filterable="false"
				   dt:lengthChange="false"
				   dt:autoWidth="false"
				   dt:serverParams="dataTableUtility.getExtraParams"
				   style="width:100%">
				<thead class="thead-default">
					<tr>
						<th dt:property="name" th:text="#{label.export.name}">exportName</th>						
						<th dt:property="minZ" th:text="#{label.min.zoom.level}">minZ</th>	
						<th dt:property="maxZ" th:text="#{label.max.zoom.level}">maxZ</th>
						<th dt:property="createDate" dt:sortInitDirection="desc" dt:renderFunction="createDateFormatter" th:text="#{label.create.date}">createDate</th>					
						<th dt:property="id" style="width: 72px;" th:text="#{label.action}" dt:renderFunction="dataTableUtility.actionFormatter" dt:sortable="false"  sec:authorize="hasRole('ROLE_TILE_EXPORT_MANAGE')"></th>
					</tr>
				</thead>
			</table>
			
		</div>
		
		
		
	</body>
</html>