<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="inputTemplate" th:remove="tag" >
			<label th:text="#{label + '.' + ${item.settingsKey}}"></label>
			<input th:if="${item.type == 'pass' || item.type == 'password'}"
				   th:type="'password'"
				   th:classappend="${item.type} + 'Type'"
				   th:placeholder="#{label.message.new.password}"
				   th:name="${item.settingsKey}" class="form-control"
				   th:value="${item.settingsValue}"/>
			
			<input th:if="${item.type != 'pass' && item.type != 'password'}"
				   th:type="'text'"
				   th:classappend="${item.type} + 'Type'"
				   th:placeholder="#{label + '.' + ${item.settingsKey}}"
				   th:name="${item.settingsKey}" class="form-control"
				   th:value="${item.settingsValue}"/>
		</div>

		<div th:fragment="switchTemplate" th:remove="tag">
			<span class="col-3 m-switch m-switch--sm m-switch--primary">
				<label>
					<input type="checkbox"
						   th:name="${item.settingsKey}"
						   th:checked="${item.settingsValue == 'true'}"
						   th:value="${item?.settingsValue}">
					<span></span>
				</label>
			</span>
			<span ass="col-9" th:text="(${item.settingsKey == 'ExcelEventReserved1'} ?  @{ ${ @environment.getProperty('using.helm.config') == 'false' } ? ${T(com.imst.event.map.admin.utils.MyStringUtils).toUTF8( @environment.getProperty('event.reserved1') ) } : ${ @environment.getProperty('event.reserved1') } } : 
			 (${item.settingsKey == 'ExcelEventReserved2'} ?  @{ ${ @environment.getProperty('using.helm.config') == 'false' } ? ${T(com.imst.event.map.admin.utils.MyStringUtils).toUTF8( @environment.getProperty('event.reserved2') ) } : ${ @environment.getProperty('event.reserved2') } } : 			 
			 (${item.settingsKey == 'ExcelEventReserved3'} ?  @{ ${ @environment.getProperty('using.helm.config') == 'false' } ? ${T(com.imst.event.map.admin.utils.MyStringUtils).toUTF8( @environment.getProperty('event.reserved3') ) } : ${ @environment.getProperty('event.reserved3') } } : 
			 (${item.settingsKey == 'ExcelEventReserved4'} ?  @{ ${ @environment.getProperty('using.helm.config') == 'false' } ? ${T(com.imst.event.map.admin.utils.MyStringUtils).toUTF8( @environment.getProperty('event.reserved4') ) } : ${ @environment.getProperty('event.reserved4') } } : 
			 (${item.settingsKey == 'ExcelEventReserved5'} ?  @{ ${ @environment.getProperty('using.helm.config') == 'false' } ? ${T(com.imst.event.map.admin.utils.MyStringUtils).toUTF8( @environment.getProperty('event.reserved5') ) } : ${ @environment.getProperty('event.reserved5') } } : #{label + '.' + ${item.settingsKey}})))))
			
			
			 "
			></span>		
		</div>
		<div th:fragment="checkboxTemplate" th:remove="tag" >
			<label style="display:block;">&nbsp;</label>
			<label class="custom-control custom-checkbox">
				<input th:name="${item.settingsKey}"
					   th:type="${item.type}" class="custom-control-input" th:checked="${item.settingsValue == 'true'}" th:value="${item?.settingsValue}"/>
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description" th:text="#{label + '.' + ${item.settingsKey}}"></span>
			</label>
		</div>
		
		<div th:fragment="selectTemplate" th:remove="tag">
			<label th:text="#{label + '.' + ${item.name}}"></label>
			<select class="form-control" th:name="${item.name}">
				<option th:each="number : ${#numbers.sequence(1,5)}"
				        th:text="${number}"
				        th:value="${number}"
				>
				</option>
			</select>
		</div>
		
	</body>
</html>