#tileFile a{
	color:#5867dd;
}

#tileFile a:hover{
	
	
}

.mobileTileCriteria{
	font-size:14px; 
	margin-top:10px;
}
.mobileData{
	font-size:20px; 
	margin-top:20px;
}

.layerName{
	
	color: #5867dd;
    /*font-size: 16px;
    margin-top: 10px;
    margin-bottom:15px;*/
	
}
.mobileDatas{
	font-size: 15px; 
	font-weight: bold;
	padding-left: 1.25rem;
}

#tileFile{
	border:none;
}

#mobilDataList{
	position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}